.form {
    position: relative;
    background-color: rgb(16, 216, 252);
    padding: 8px;
    text-align:center;
    /* margin-left: 700px; */
    margin:auto;
    display: inline-block;
    border: solid;
    position: relative;
    left: 800px;
    top: 50px;
    
  
}
#passwor{
    display: inline;

}

#Eml{
    display: inline;
}
    
#ptag{
    color: black;
    font-size: large;
}

.familly{
    position: relative;
  /* width: 400px;
  height: 200px;
  border: 3px solid #73AD21; */
  left: 200px;
   top: 200px;
   font-size:400%;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.text{
    position: relative;
    top: 150px;
    left: 225px;
   
}

.wordform{
    background-color:crimson;
    padding: 100px;
    text-align:center;
    /* margin-left: 700px; */
    margin:auto;
    display: inline-block;
    border: solid;
    position:absolute;
    left: 230px;
    top: 400px;

}
#button{
    position: relative;
    top: 100px;
    /* background: #0b7fba;
    border: 0;
    color: #fff;
    font-size: 20px;
    padding: 1em 2em;
    cursor: pointer;
    margin: 0 auto 60px;
    display: block;
    text-align: center;
    border-radius: 6px;
    font-weight: bold; */
}
#wordbox{
    position: relative;
    top: 90px;
}

#inst{
    position:absolute;
    top: 3px;
    text-align:left;
    font-size: medium;

}